* {
  box-sizing: border-box;
}

body {
  background-color: #718093;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.app {
  padding: 0%;
}

/* ONBOARDING PAGE */

.form {
  width: 70%;
  margin: 2rem auto;
}

.age-input {
  width: 100%;
}

/* PROFILE PAGE */

.profile-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-cont {
  background-color: #dcdde1;
  display: flex;
  width: 50%;
  border: 2px solid black;
  height: 300px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.avatar {
  border-radius: 50%;
  width: 80%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  padding: 2rem;
}

.name-details, .age-details, .gender-details {
  width: 90%;
  position: relative;
}

label {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: 600;
}

p {
  color: #727272;
}

.name, .age, .gender {
  font-size: 13px;
  width: 100%;
  margin-bottom: 10px;
}

.name-antd {
  width: 100%;
}

.edit, .save {
  position: absolute;
  color: #5a5a5a;
  top: 1.9rem;
  right: -1.5rem;
}

.edit:hover, .save:hover {
  cursor: pointer;
}

.antd-select {
  display: block;
}

.antd {
  margin-bottom: 0.8rem;
}